[dependencies]
zip4cj = {git = "https://gitcode.com/Cangjie-TPC/zip4cj", tag = "0.59.6", output-type = "static"}

[package]
  cjc-version = "0.53.4"
  compile-option = "--static-std --static-libs"
  description = "仓颉编译器版本切换工具"
  link-option = ""
  name = "cjvs"
  output-type = "executable"
  src-dir = "src"
  target-dir = ""
  version = "1.0.0"
  package-configuration = {}

[target.x86_64-unknown-windows-gnu] # linux 系统的配置项
  compile-option = "--static-std"

[target.x86_64-unknown-linux-gnu] # linux 系统的配置项
  compile-option = "--static"
[target.x86_64-unknown-linux-gnu.release]
  compile-option = "-o2"
